@import url("styles/reset.css");
@import url("styles/nav.css");
@import url("styles/header.css");
@import url("styles/choose.css");
@import url("styles/carousel.css");
@import url("styles/people.css");
@import url("styles/slider.css");
*{
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
:root {
    /* Text-weight */
    --text-weight-small: 12px;
    --text-weight-normal: 16px;
    --text-weight-large: 21px;
    --text-weight-extra-large: 27px;
    /* text color */
    --text-color--dark-blue: #254762;
    /* Background color */
    --bg-color--light-blue:#A7E3DD;
    --bg-color--light-grey:#F2F2F2;
    --bg-color--medium-grey:#F2F2F2;
    --bg-color--dark-grey:#7D7D7D;
    --bg-color--heavy-grey:#323232;
  }
a{
    text-decoration: none;
}
.none{
    display: none;
}
.button{
    outline-style: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding:10px 30px;
}
.button.header{
    background-color: var(--text-color--dark-blue);
}
.button.accountant{
    color: var(--bg-color--dark-grey);
    background-color: var(--bg-color--medium-grey);
}