.container__header{
    background-color: var(--bg-color--light-blue);    
    width: 100vw;
    display: grid; 
}
.content__header{
    
}
.header__card > *{
    display: block;
    margin: 15px auto; 
}
.header__card, .header__icon{   
    width: 60vw;
    margin: 0 auto;
}


.header__card > .card__title, .card__span, .header__button {    
    color: var(--text-color--dark-blue);
    
    text-align: center;
}