.container__header{
    background-color: var(--bg-color--light-blue);    
    width: calc(100vw - (100vw - 100%));
    display: grid; 
}
.header__card > *{
    display: block;
    margin: 15px auto; 
}
.header__card, .header__icon{   
    width: 60vw;
    margin: 0 auto;
}
.header__card > .card__title, .card__span, .header__button {    
    color: var(--text-color--dark-blue);    
    text-align: center;
}
/* Sumary blocks */
.header__sumary{
    display: block;
    width: 100vw;       
}
.header__details{
    display:block;
    background-color: white;           
    text-align: center;
    border-width: 90vw;   
    border-bottom: 1px solid #DDDDDD;  
    
}
.details__sumary{
    display: block;
    color:var(--text-color--dark-blue);
    font-size: var(--text-weight-large);
    padding: 15px 0;
    outline: none;
    cursor: pointer;    
}
.details__sumary::after{
    display: block;
    position: relative;
    left: calc((50vw - ((100vw - 100%)/2) ) - 10px );
    content: " ";
    border-right: 4px solid var(--bg-color--light-blue);
    border-bottom: 4px solid var(--bg-color--light-blue);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;   
    top: 5px;
    border-bottom-right-radius: 2px;    
}
.header__details[open] > .details__sumary::after{
    transform: rotate(-135deg) ;   
    top: 10px; 
}
.details__sumary::-webkit-details-marker {
  display: none;  
}
.details__woks:not(:last-child){    
    width: 70%;    
    margin: 12px auto;
    display: block;
}
.details__works.cards{
    display: grid;   
    gap: 30px ;  
    width: calc(90vw - (100vw - 100%));         
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    margin: auto;
}
.works__cards{
    display: block;
    min-width: 300px;    
}
.works__cards > h2{
    font-size: var(--text-weight-normal);
    color:var(--text-color--dark-blue);
}
.works__cards > span{
    color:var(--bg-color--dark-grey);
    font-size: var(--text-weight-small);
}
.cards__img{
    width: 30px;
    margin: auto;
}
.cards__img.portafolio{
    min-width: 150px;
    object-fit: cover;
    height: 100px;
    margin: auto 0;
}
/* Texto de parrafos y titulos del headers details */
.details__woks.paragraph{
    color:var(--bg-color--dark-grey);   
}
.links__links__h1{
    color: var;
}

