.navbar {        
    background-color: var(--bg-color--light-blue);   
    width: calc(100vw - (100vw - 100%));  
  }
.nav__content{    
    line-height: 16px;    
    height: 60px;
    display: flex;      
    justify-content: space-between;  
    margin: 0 15px;  
}

.nav__link{
  display: flex;  
}
.nav__link > *{ 
  display: inline-flex;
  margin: auto 8px;  
  font-size: var(--text-weight-normal);
  color: var(--text-color--dark-blue);
}
.nav__content .icon{
  object-fit: cover;
  min-width: 140px; 
}
.nav__link  .user, .toggle{ 
  min-width: 20px;    
}

