.container__people{    
    display: inline-block;
    width: calc(100vw - (100vw - 100%));
  /*   background-color: var(--bg-color--light-grey); */
}
.content__people{        
    width: calc(90vw - (100vw - 100%)); 
    margin: auto;
    text-align: center;
    
}
.img_people{    
    object-fit: cover;
    object-position: top;
    width: 100px;
    height: 100px;
    border-radius: 75%;                
}