@media (min-width: 481px) and (max-width: 767px) {  
   /* Nav */

   /* Header */
   .content_header__grid{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }
   .header__card, .header__icon {
    width: initial;
    margin: 0;
    }

    .details__works.cards{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .works__cards{
        min-width: initial;
    }
    .header__details__grid{
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .details__woks.img:last-child{
        width: 100%;
    }
    .details__woks.paragraph{
        margin: auto;
    }
    .choose_slider {
        display: flex;      
        margin: 2rem 0;  
    }
    .slider__slide{
        
    }
    .card__slider.static{        
        margin: 0 auto;
    }    
    .card__list__ul{
        
    }
    /* Sections Experts */
    .content__experts{
        display: grid;
        grid-template-columns: .5fr 1fr;     
        width: initial;
        margin: 4rem 0;   
    }
    .label_class__link_read{
        margin-bottom:12rem;
    }
    /* Section Footer */
    .content__links{
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
    }
    
  }